body {margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: 15px;
    color: rgb(3, 3, 3);
    line-height: 1.6;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/* Container*/
.container{
    width: 100%;
    max-width: 70vw;
    margin: 0 auto;
}

/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
}

.intro_title{
    font-size:  calc(1.8em + 5vw);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_title::after{
    content: "";
    width: 60px;
    display: block;
    background-color: white;
    height: 5px;
    z-index: 1;
    margin: 60px auto;
}

.intro_inner{
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
}

.intro_subtitle{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: calc(1.5em + 2.5vw);
    font-weight: normal;
    margin: 120px 0 55  px;
}

.btn{
    display: inline-block;
    border: 3px solid white;
    padding: 10px 30px;
    vertical-align: top;

    color: white;
    text-transform: uppercase;
    font-style: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: auto 0;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-color: #fff;
    color: #fce38a;
}

/* Slider */

.intro_slider{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider_inner{
    display: flex;
    justify-content: space-between;
}
.slider_item{
    width: 22%;
    border-top: 3px solid white;
    text-transform: uppercase;
    color: white;
    font-size: calc(0.3em   + 0.6vw);
    padding: 20px 0;
    opacity: 0.7;
    position: relative;
    transition: opacity 0.2s linear;
}

.slider_item::before{
    content: "";
    display: block;
    width: 40%;
    height: 3px;
    
    background-color: rgb(221, 118, 118);
    position: absolute;
    opacity: 0;
    top: -3px;
    transition: opacity 0.2s linear;
}

.slider_item:hover::before{
    opacity: 1;
}

.slider_item:hover{
    opacity: 1;
}

.sl_num{
    font-size:  calc(0.5em + 1vw);
    font-weight: 700;
}

/* Header */
.header{
    width: 100%;
    padding-top: 25px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: absolute ;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: calc(0.5em + 1vw);
    color: white;
    font-weight: 700;
}

/*nav*/
.nav{
    font-size: 1vw;
    text-transform: uppercase;
}

.nav_link{
    color: white;
    text-decoration: none;
    vertical-align: top;
    margin: 10px;
    transition: color .2s linear;
    position: relative;
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color:#fce38a;
    opacity: 0;
    position: absolute;
    
    left: 0;
    z-index: 1;
    transition: opacity .4s linear;
}
.nav_link:hover{
    color: #fce38a;
}
.nav_link:hover:after{
    opacity: 1;
}

/* Section */
.section{
    padding-top: 8vh;
    padding-bottom: 10vh;
}
.section_header{
    margin:0 auto 9vh;
    width: 100%;
    max-width: 45vw;
    text-align: center; 
    
}

.section_subtitle{
    font-size: 1.2vw;
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    margin-bottom: 2vh;
}

.section_title{
    font-size: 1.5vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.6px;
}

.section_title::after{
    content: "";
    display: block;
    width: 3.2vw;
    height: 0.3vh;
    background-color: #f38181;
    margin: 4.5vh auto;
    z-index: 1;
}

.section_text{
    color: #999999;
    font-size: 0.7vw;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about_image{
    width: 30%;
    background: #95e1d3;
    position: relative;
}

.about_item{
    height: 13.8vw;
    background: linear-gradient(#fce38a, #f38181); 
    display: block;
    transition: all 0.1s linear;
}

.about_item:hover .about_text{
    opacity: 1;
}

.about_item:hover .image{
    opacity: 0.2;
}

.about_item:hover{
    transform: translate3d(calc(-0.5vw - 0.5vh),calc(-0.5vw - 0.5vh),0);
}

.image {
    transition: opacity 0.1s linear;
    width: 100%;
}
.about_text{
    width: 100%;
    text-transform: uppercase;
    color: white;
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    top: 50%;
    transform: translate3d(0,-50%,0);
    opacity: 0;
    transition: opacity 0.1s linear;
}