body {margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: 15px;
    color: rgb(3, 3, 3);
    line-height: 1.6;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/* Container*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
}

.intro_title{
    font-size: 150px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_title::after{
    content: "";
    width: 60px;
    display: block;
    background-color: white;
    height: 5px;
    z-index: 1;
    margin: 60px auto;
}

.intro_inner{
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
}

.intro_subtitle{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 72px;
    font-weight: normal;
    margin: 120px 0 55  px;
}

.btn{
    display: inline-block;
    border: 3px solid white;
    padding: 10px 30px;
    vertical-align: top;

    color: white;
    text-transform: uppercase;
    font-style: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: auto 0;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-color: #fff;
    color: #fce38a;
}

/* Slider */

.intro_slider{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider_inner{
    display: flex;
    justify-content: space-between;
}
.slider_item{
    width: 22%;
    border-top: 3px solid white;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    padding: 20px 0;
    opacity: 0.7;
    position: relative;
    transition: opacity 0.2s linear;
}

.slider_item::before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    
    background-color: rgb(221, 118, 118);
    position: absolute;
    opacity: 0;
    top: -3px;
    transition: opacity 0.2s linear;
}

.slider_item:hover::before{
    opacity: 1;
}

.slider_item:hover{
    opacity: 1;
}

.sl_num{
    font-size:  24px;
    font-weight: 700;
}

/* Header */
.header{
    width: 100%;
    padding-top: 25px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: absolute ;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 30px;
    color: white;
    font-weight: 700;
}

/*nav*/
.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    color: white;
    text-decoration: none;
    vertical-align: top;
    margin: 10px;
    transition: color .2s linear;
    position: relative;
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color:#fce38a;
    opacity: 0;
    position: absolute;
    
    left: 0;
    z-index: 1;
    transition: opacity .4s linear;
}
.nav_link:hover{
    color: #fce38a;
}
.nav_link:hover:after{
    opacity: 1;
}

